body {
    background: rgb(45,234,253);
    background: linear-gradient(0deg, rgba(45,234,253,1) 0%, rgba(34,127,195,1) 100%);
    min-height: 100vh;
    padding: 10px;

/*     
    background: rgb(27,48,50);
    background: linear-gradient(0deg, rgba(27,48,50,1) 0%, rgba(42,105,150,1) 100%);  */
}


.weatherCard{
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 8px solid rgba(30, 172, 211, 0);
    min-height: 90vh;
    width: 500px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



#themeIcon{
    text-align: end;
    left: 78%;
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    position: fixed;
}

#themeIcon:hover{
    background-color: black;
}


.locationIcon{
    font-size: 1.5rem;
    margin: 5px;
    margin-top: 4px;
}
.locationIcon:hover{
    color: lightgreen;
    font-size: 2rem;
}

.searchIn{
    width: 50%;
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 5px;
}

.submitBtn{
    height: 30px;
    border: none;
    border-radius: 5px;
}
.submitBtn:hover{
    background-color: aquamarine;
}

.cityName{
    color: white;
    margin-top: 10px;
    font-size: 3.5rem;
}

#tempRow{
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.tempIcon{
    width: 180px;
    margin: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 80px;
}

.temp{
    color: white;
    font-size: 4rem;
    
}

.switchBtn{
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: auto;
    align-items: end;
    
}

.switchBtn:hover{
    background-color: aquamarine;
}
.otherData{
    display: flex;
}

ul{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    align-items: flex-start;
}
.otherData li{
    list-style:circle;
    text-align: start;
    color: white;
    font-size: 1.1rem;
}
.otherData img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: white;

}
.otherData i{
    font-size: large;
}

.sunStatus{
    display: flex;
    justify-content:space-around;
}

.sunset{
    font-weight: 500;

}

.sunset img{
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.sunrise img{
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.sunrise{
    font-weight: 500;
}

.otherDays{
    display: flex;
    scrollbar-width: 2px;
    overflow-wrap:normal;

}
.otherDays img{
    width: 50px;
    height: 30px;

}

.day{
    border: 1px solid lightblue;
    width: 100px;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
}

.info{
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
}

.loader {
    width: 56px;
    height: 26.9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: center;
    background: radial-gradient(circle closest-side,#474bff 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#474bff 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#474bff 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: loader-7ar3yq 1s infinite linear;
 }
 
 @keyframes loader-7ar3yq {
    20% {
       background-position: 0%   0%, 50%  50%,100%  50%;
    }
 
    40% {
       background-position: 0% 100%, 50%   0%,100%  50%;
    }
 
    60% {
       background-position: 0%  50%, 50% 100%,100%   0%;
    }
 
    80% {
       background-position: 0%  50%, 50%  50%,100% 100%;
    }
 }