body {
    background: rgb(45,234,253);
    background: linear-gradient(0deg, rgba(45,234,253,1) 0%, rgba(34,127,195,1) 100%);
    min-height: 100vh;
    padding: 10px;
}

/* background: rgb(27,48,50);
background: linear-gradient(0deg, rgba(27,48,50,1) 0%, rgba(42,105,150,1) 100%); */


.weatherCard{
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    min-height: 90vh;
    width: 500px;
    padding: 10px;
    text-align: center;
}

form{
}

.locationIcon{
    font-size: 1.5rem;
    margin: 5px;
    margin-top: 4px;
}

.searchIn{
    width: 50%;
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 5px;
}

.submitBtn{
    height: 30px;
    border: none;
    border-radius: 5px;
}
.submitBtn:hover{
    background-color: aquamarine;
}

.cityName{
    color: white;
    margin-top: 10px;
    font-size: 3.5rem;
}

#tempRow{
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.tempIcon{
    width: 180px;
    margin: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 80px;
}

.temp{
    color: white;
    font-size: 4rem;
    
}

.switchBtn{
    height: 30px;
    border: none;
    border-radius: 20px;
    margin-top: auto;
    align-items: end;
}

.switchBtn:hover{
    background-color: aquamarine;
}
.otherData{
    display: flex;
}

ul{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    align-items: flex-start;
}
.otherData li{
    list-style:circle;
    text-align: start;
    color: white;
    font-size: 1.1rem;
}
.otherData img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: white;
}
.otherData i{
    font-size: large;
}

.sunStatus{
    display: flex;
    justify-content:space-around;
}

.sunset{
    font-weight: 500;

}

.sunset img{
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.sunrise img{
    color: white;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.sunrise{
    font-weight: 500;
}

.otherDays{
    display: flex;
}
.otherDays img{
    width: 50px;
    height: 30px;

}

.day{
    border: 1px solid lightblue;
    width: 100px;
    border-radius: 5px;
    margin: 1px;
}

.info{
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-around;
}